ul.ins-imgs {
    list-style-type: none;
    padding: 0;
}

li.ins-imgs-li {
    float: left;
    padding: 5px;
}

div.ins-imgs-img img {
    max-width: 200px;
    outline: none;
    display: table;
}

div.ins-imgs-img.zoom img {
    max-width: 100%;
}

div.ins-imgs-label {
    display: none;

}

div.ins-imgs-img a:focus {
    outline: none;
}