ul.ins-imgs {
    list-style-type: none;
    padding: 0;
}

li.ins-imgs-li {
    float: left;
    padding: 5px;
}

div.ins1-imgs-img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;

}

div.ins-imgs-img.zoom img {
    /* max-width: 10%; */
    border: 1px solid blue;

    min-height: 98%;
    max-width: 99%;
    max-height: 98%;
  
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div.ins-imgs-label {
    display: none;

}

div.ins-imgs-img a:focus {
    outline: none;
}