body {
    background: #ebebeb;
 }

 nav {
    background: #d7d7d7;
    box-shadow:  5px 5px 10px #b5b5b5, 
                 -5px -5px 10px #f9f9f9;
}

.show_result {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #008CBA;
}

.origian_object {
 width: 250px;
 height: 250px;

}

canvas {
    border:3px solid #4b4b4b;
    background: #ebebeb;
    box-shadow: inset 5px 5px 10px #c5c5c5, 
                inset -5px -5px 10px #ffffff;
}

.button_color {
 margin-top: 10px;
 margin-bottom: 5px;
}

.button_save {
    /* float: right; */
    margin-top: 10px;
    margin-bottom:10px;
}

.button1 {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button2 {
    border-radius: 5px;
    background-color: #008CBA;
}
.button2:hover {
    background-color: #007094;
  }

.button3 {
    border-radius: 5px;
    background-color: #323232;
}
.button3:hover {
    background-color: #000000;
  }

.button4 {
    border-radius: 5px;
    background-color: #727272;
}
.button4:hover {
    background-color: #444444;
  }

.button5 {
    border-radius: 5px;
    background-color: #727272;
}
.button5:hover {
    background-color: #444444;
  }

.button6 {
    border-radius: 5px;
    background-color: #46a346;
}
.button6:hover {
    background-color: #388238;
  }

.footer_text {
    color:white;
    box-shadow:  8px -8px 20px #b0b0b0, 
                -8px 8px 20px #ffffff;
}

.slidecontainer {
  width: 87%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
